@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap');

.Button {
    background-color: #931F1D;
    color: #D5DDBC;
    width: 100%;
    max-width: 450px;
    line-height: 55px;   
    font-size: 20px;
    display: block;
    margin: 10px 0;
    border-radius: 10px;
    font-family: 'IM Fell Great Primer SC', serif;
    font-weight: bold;
}

.Button.disabled{
    background-color: #AA9190;
    font-family: 'IM Fell Great Primer SC', serif;
    font-weight: normal;
}

.Button:hover{
    background-color: red;
    font-family: 'IM Fell Great Primer SC', serif;

}