.Button {
    background-color: #931F1D;
    color: #D5DDBC;
    width: 100%;
    max-width: 450px;
    line-height: 55px;   
    font-size: 20px;
    display: block;
    margin: 10px 0;
    border-radius: 10px;
}

.Button.disabled{
    background-color: lightgray;
}

.Button:hover{
    background-color: red;
}

