.Dropdown select {
    background: transparent;
    width: 550px;
    font-size: 20px;
    height: 55px;
    background-color: #937B63;
    color: white;
    font-family: 'IM Fell Great Primer SC', serif;

  }
  .Dropdown {
    width: 550px;
    height: 55px;
    overflow: hidden;
    background-color: #937B63;
    margin-top: 42px;
  }
  