@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.Text.Title{
    color: black;
    font-size: 49px;
    font-family: 'IM Fell Great Primer SC', serif;
}

.Text.subTitle{
    font-size: 25px;  
    font-family: 'IM Fell Great Primer SC', serif;  
}

.Text.copyText{
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}


